* {
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #828282;
    font-size: 15px;
    text-align: center;
}


#container {
    width: 550px;
    margin: 0 auto 72px;
}

#container img {
margin-bottom: 62px;
}

#title {
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: #3F3D56;

}

#destiny {
    color: #EE24FF;
    font-weight: 700;

}

#keywords {
    color: #3F3D56;
    font-weight: 700;
}

#footer {
    font-weight: 700;


}

#footer  a{
    margin: 0 30px;
}

#button {
    color: #3F3D56;
    text-decoration: none;
}

#wave {
    height: 11em;
    width: 101.5em;
    margin: 30px 0 0;
}